.contenedor-testimonio {
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /*con bos-shadow creamos una sombra en el contenedor*/
  box-shadow: 0 3px 13px 1px rgb(0 0 0/9%);

}

.imagen-testimonio {
  height: 100%;
  width: auto;
}

.contenedor-texto-testimonio{
  text-align: center;
  padding: 40px;
  font-family:Lato, sans-serif;
/*el grueso de la letra para que sea mas delgado usamos font-weight*/
  font-weight: 400;
  line-height: 1.5rem;

}

.nombre-testimonio {
  font-size: 1.3rem;

}

.cargo-testimonio {
  /*con rem coje el tamaño relativo de la fuente raiz*/
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;

}

.texto-testimonio {
  font-size: 1.1rem;
  /*justify significa que el texto va ir de izquierda a derechas rellenando el contenedor*/
  text-align: justify;



}


